#classroom {
    border-spacing: 3px;
}
#classroom td {
    text-align: center;
    width: 50px;
    height: 50px;
}
#questioncontainer {
    display: table;
    clear: right;
    margin-top: 15px;
    overflow: hidden;
    width: 90%;
}
.inquiry {
    display: table-row;
    overflow: hidden; 
    background: lightgray;
}
.vote {
    display: table-cell; 
    padding: 3px; 
    vertical-align: top;
    text-align: center;
    width: 35px;
    font-size: 25px;
    font-family: Cambria;
    color: white;
}
.up .down {
     display:inline;  
}
.vote .up:hover {
    color: black;
    cursor: pointer;
}
.vote .down:hover {
    color: black;
    cursor: pointer;
}
.votedup .voteddown {
    color: black;
}

.questioncontent {
    display: table-cell; 
    padding: 4px;
    vertical-align: middle;
}
.activebut {
    display: table-cell; 
    float:right;
    vertical-align: top;
    font-size: 25px;
    font-family: Arial;
    color: gray;
    padding: 5px;
}
.activebut:hover {
    color: yellow;
    cursor: pointer;
}

.seat {
    background-color: #54585a;
}
.aisle {
    background-color: black;
}
.active {
    background-color: #ccffcc;
}
.bad {
    background-color: rgb(255,0,0);
}
.meh {
    background-color: rgb(255,200,0);
}
.good {
    background-color: rgb(50,200,50);
}
.badbtn {
    border-top: 1px solid #ff0000;
    background: #940f0f;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0a0a), to(#940f0f));
    background: -webkit-linear-gradient(top, #ff0a0a, #940f0f);
    background: -moz-linear-gradient(top, #ff0a0a, #940f0f);
    background: -ms-linear-gradient(top, #ff0a0a, #940f0f);
    background: -o-linear-gradient(top, #ff0a0a, #940f0f);
    padding: 8.5px 17px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #ffffff;
    font-size: 20px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    }
 .badbtn:hover {
    border-top-color: #8a0b0b;
    background: #8a0b0b;
    color: #c9c9c9;
    }
 .badbtn:active {
    border-top-color: #5c0000;
    background: #5c0000;
    }

.mehbtn {
    border-top: 1px solid #fffb00;
    background: #96880f;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffde0a), to(#96880f));
    background: -webkit-linear-gradient(top, #ffde0a, #96880f);
    background: -moz-linear-gradient(top, #ffde0a, #96880f);
    background: -ms-linear-gradient(top, #ffde0a, #96880f);
    background: -o-linear-gradient(top, #ffde0a, #96880f);
    padding: 8.5px 17px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #ffffff;
    font-size: 20px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    }
 .mehbtn:hover {
    border-top-color: #8a7f0b;
    background: #8a7f0b;
    color: #c9c9c9;
    }
 .mehbtn:active {
    border-top-color: #5c4d00;
    background: #5c4d00;
    }

.goodbtn {
    border-top: 1px solid #75ff87;
    background: #1d9c32;
    background: -webkit-gradient(linear, left top, left bottom, from(#25db55), to(#1d9c32));
    background: -webkit-linear-gradient(top, #25db55, #1d9c32);
    background: -moz-linear-gradient(top, #25db55, #1d9c32);
    background: -ms-linear-gradient(top, #25db55, #1d9c32);
    background: -o-linear-gradient(top, #25db55, #1d9c32);
    padding: 8.5px 17px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #ffffff;
    font-size: 20px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    }
 .goodbtn:hover {
    border-top-color: #0b8a1a;
    background: #0b8a1a;
    color: #c9c9c9;
    }
 .goodbtn:active {
    border-top-color: #005c17;
    background: #005c17;
    }