#classroom {
    border-spacing: 3px;
}
#classroom td {
    text-align: center;
    width: 50px;
    height: 50px;
}
#questioncontainer {
    display: table;
    clear: right;
    margin-top: 15px;
    overflow: hidden;
    width: 90%;
}
#inquiry {
    display: table-row;
    overflow: hidden; 
    background: lightgray;
}
#vote {
    display: table-cell; 
    padding: 3px; 
    vertical-align: top;
    width: 35px;
    font-size: 25px;
    font-family: Cambria;
    color: gray;
}
.up .down {
     display:inline;  
}
#vote .up:hover {
    color: red;
    cursor: pointer;
}
#vote .down:hover {
    color: red;
    cursor: pointer;
}
.votedup .voteddown {
    color: black;
}

#questioncontent {
    display: table-cell; 
    padding: 4px;
    vertical-align: middle;
}
.activebut {
    display: table-cell; 
    float:right;
    vertical-align: top;
    font-size: 25px;
    font-family: Arial;
    color: gray;
    padding: 5px;
}
.activebut:hover {
    color: red;
    cursor: pointer;
}

.seat {
    background-color: #54585a;
}
.aisle {
    background-color: black;
}
.active {
    background-color: #ccffcc;
}
.bad {
    background-color: #ff0000;
}
.meh {
    background-color: #ffcc00;
}
.good {
    background-color: #33cc33;
}