#classroom {
    /*width: 100%;*/
    border-spacing: 5px;
}
#classroom td {
    border: 8px solid black;
    text-align: center;
    width: 50px;
    height: 50px;
}
#classroom td:hover {
    background-color: #e6e6e6;
}
.aisle {
    background-color: black;
}